<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- ensure only the sources defined below are used -->
    <add key="ProGetCloud-NuGet" value="https://progetcloud.ukho.gov.uk/nuget/nuget.org/v3/index.json" />
    <add key="ProGetCloud-UkhoTrusted" value="https://progetcloud.ukho.gov.uk/nuget/ukho.trusted/v3/index.json" />
  </packageSources>
</configuration>