<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <!-- ensure only the sources defined below are used -->
        <add key="ProGet-Nuget" value="https://progetcloud.ukho.gov.uk/nuget/nuget.org/v3/index.json" />
        <add key="ProGet-Nuget-Trusted" value ="https://progetcloud.ukho.gov.uk/nuget/ukho.trusted/v3/index.json"/>
    </packageSources>
</configuration>